<h1>Lists</h1>

<ul class="unstyled-list">
  <% @lists.each do |list| %>
    <!-- <a href='lists/<%=list.id%>'><li><%= list.name %></li></a> -->
    <li><%= link_to list.name, list_path(list) %></li>

  <% end %>
</ul>

<p><%= link_to "Add a List", new_list_path %></p>
